<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated SRM -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="SRM.presentation.SRMModelWizardID"
            name="%_UI_SRMModelWizard_label"
            class="SRM.presentation.SRMModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/SRMModelFile.gif">
         <description>%_UI_SRMModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated SRM -->
      <editor
            id="SRM.presentation.SRMEditorID"
            name="%_UI_SRMEditor_label"
            icon="icons/full/obj16/SRMModelFile.gif"
            extensions="srm"
            class="SRM.presentation.SRMEditor"
            contributorClass="SRM.presentation.SRMActionBarContributor">
      </editor>
   </extension>

</plugin>
