<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension point="org.eclipse.team.core.fileTypes" id="repo-ftype">
      <?gmfgen generated="true"?>
      <fileTypes type="text" extension="suc_diagram"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser" id="resource-factory">
      <?gmfgen generated="true"?>
      <parser
         type="suc_diagram"
         class="org.eclipse.gmf.runtime.emf.core.resources.GMFResourceFactory">
      </parser>
   </extension>

   <extension point="org.eclipse.ui.editors" id="gmf-editor">
      <?gmfgen generated="true"?>
      <editor
         id="SUC.diagram.part.SUCDiagramEditorID"
         name="%editorName"
         icon="icons/obj16/SUCDiagramFile.gif"
         extensions="suc_diagram"
         default="true"
         class="SUC.diagram.part.SUCDiagramEditor"
         matchingStrategy="SUC.diagram.part.SUCMatchingStrategy"
         contributorClass="SUC.diagram.part.SUCDiagramActionBarContributor">
      </editor>
   </extension>
   
   <extension point="org.eclipse.ui.contexts" id="ui-context">
      <?gmfgen generated="true"?>
      <context
         description="%context.description"
         id="SUC.diagram.ui.diagramContext"
         name="%context.name"
         parentId="org.eclipse.gmf.runtime.diagram.ui.diagramContext">
      </context>
   </extension>

   <extension point="org.eclipse.ui.newWizards" id="creation-wizard">
      <?gmfgen generated="true"?>
  	  <wizard
  	     name="%newWizardName"
  	     icon="icons/obj16/SUCDiagramFile.gif"
  	     category="org.eclipse.ui.Examples"
  	     class="SUC.diagram.part.SUCCreationWizard"
  	     id="SUC.diagram.part.SUCCreationWizardID">
  	  	 <description>%newWizardDesc</description>  
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.popupMenus" id="init-diagram-action">
      <?gmfgen generated="true"?>
      <objectContribution
            id="SUCdesign.diagram.InitDiagram"
            nameFilter="*.suc"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               label="%initDiagramActionLabel"
               class="SUC.diagram.part.SUCInitDiagramFileAction"
               menubarPath="additions"
               enablesFor="1"
               id="SUCdesign.diagram.InitDiagramAction">
         </action>
      </objectContribution>
   </extension>
	
   <extension point="org.eclipse.gmf.runtime.common.ui.services.action.globalActionHandlerProviders" id="global-actions">
      <?gmfgen generated="true"?>
      <GlobalActionHandlerProvider
         class="org.eclipse.gmf.runtime.diagram.ui.providers.DiagramGlobalActionHandlerProvider"
         id="SUCPresentation">
         <Priority name="Lowest"/>
         <ViewId id="SUC.diagram.part.SUCDiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="delete"/>
            </ElementType>
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.DiagramEditPart">
               <GlobalActionId actionId="save"/>
            </ElementType>
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="save">
               </GlobalActionId>
            </ElementType>        
         </ViewId>
      </GlobalActionHandlerProvider>
      <GlobalActionHandlerProvider
         class="org.eclipse.gmf.runtime.diagram.ui.providers.ide.providers.DiagramIDEGlobalActionHandlerProvider"
         id="SUCPresentationIDE">
         <Priority name="Lowest"/>
         <ViewId id="SUC.diagram.part.SUCDiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="bookmark"/>
            </ElementType>
         </ViewId>
      </GlobalActionHandlerProvider>
      <GlobalActionHandlerProvider
            class="org.eclipse.gmf.runtime.diagram.ui.render.providers.DiagramUIRenderGlobalActionHandlerProvider"
            id="SUCRender">
         <Priority name="Lowest"/>
         <ViewId id="SUC.diagram.part.SUCDiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="cut"/>
               <GlobalActionId actionId="copy"/>
               <GlobalActionId actionId="paste"/>
            </ElementType>
         </ViewId>
      </GlobalActionHandlerProvider>
   </extension>


   <extension point="org.eclipse.core.runtime.preferences" id="prefs">
      <?gmfgen generated="true"?>
      <initializer class="SUC.diagram.preferences.DiagramPreferenceInitializer"/>
   </extension>

   <extension point="org.eclipse.ui.preferencePages" id="prefpages">
      <?gmfgen generated="true"?>
      <page
            id="SUCdesign.diagram.general"
            name="%prefpage.SUCdesign.diagram.general"
            class="SUC.diagram.preferences.DiagramGeneralPreferencePage">
      </page>
      <page
            id="SUCdesign.diagram.appearance"
            name="%prefpage.SUCdesign.diagram.appearance"
            category="SUCdesign.diagram.general"
            class="SUC.diagram.preferences.DiagramAppearancePreferencePage">
      </page>
      <page
            id="SUCdesign.diagram.connections"
            name="%prefpage.SUCdesign.diagram.connections"
            category="SUCdesign.diagram.general"
            class="SUC.diagram.preferences.DiagramConnectionsPreferencePage">
      </page>
      <page
            id="SUCdesign.diagram.printing"
            name="%prefpage.SUCdesign.diagram.printing"
            category="SUCdesign.diagram.general"
            class="SUC.diagram.preferences.DiagramPrintingPreferencePage">
      </page>
      <page
            id="SUCdesign.diagram.rulersAndGrid"
            name="%prefpage.SUCdesign.diagram.rulersAndGrid"
            category="SUCdesign.diagram.general"
            class="SUC.diagram.preferences.DiagramRulersAndGridPreferencePage">
      </page>
   </extension>

   <extension point="org.eclipse.ui.views.properties.tabbed.propertyContributor" id="prop-contrib">
      <?gmfgen generated="true"?>
      <propertyContributor
            contributorId="SUCdesign.diagram"
            labelProvider="SUC.diagram.sheet.SUCSheetLabelProvider">
         <propertyCategory category="domain"/>
         <propertyCategory category="visual"/>
         <propertyCategory category="extra"/>
      </propertyContributor>
   </extension>

   <extension point="org.eclipse.ui.views.properties.tabbed.propertyTabs" id="proptabs">
      <?gmfgen generated="true"?>   
      <propertyTabs contributorId="SUCdesign.diagram">
         <propertyTab
             category="visual"
             id="property.tab.AppearancePropertySection"
             label="%tab.appearance"/>
          <propertyTab
             category="visual"
             id="property.tab.DiagramPropertySection"
             label="%tab.diagram"/>
          <propertyTab
             category="domain"
             id="property.tab.domain"
             label="%tab.domain"/>
      </propertyTabs>
   </extension>

   <extension point="org.eclipse.ui.views.properties.tabbed.propertySections" id="propsections">
      <?gmfgen generated="true"?>   
      <propertySections contributorId="SUCdesign.diagram">
         <propertySection id="property.section.ConnectorAppearancePropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.ConnectionEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.appearance.ConnectionAppearancePropertySection" 
            tab="property.tab.AppearancePropertySection">
         </propertySection>
         <propertySection id="property.section.ShapeColorAndFontPropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.ShapeEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.appearance.ShapeColorsAndFontsPropertySection" 
            tab="property.tab.AppearancePropertySection">
         </propertySection> 
         <propertySection id="property.section.DiagramColorsAndFontsPropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.DiagramEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.appearance.DiagramColorsAndFontsPropertySection" 
            tab="property.tab.AppearancePropertySection">
         </propertySection>     
         <propertySection id="property.section.RulerGridPropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.DiagramEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.grid.RulerGridPropertySection" 
            tab="property.tab.DiagramPropertySection">
         </propertySection>     
         <propertySection
            id="property.section.domain" 
            tab="property.tab.domain"
            class="SUC.diagram.sheet.SUCPropertySection">
            <input type="org.eclipse.gmf.runtime.notation.View"/>
            <input type="org.eclipse.gef.EditPart"/>
            <input type="SUC.diagram.navigator.SUCAbstractNavigatorItem"/>
         </propertySection>
      </propertySections>
   </extension>

   <extension point="org.eclipse.gmf.runtime.diagram.core.viewProviders" id="view-provider">
      <?gmfgen generated="true"?>
      <viewProvider class="SUC.diagram.providers.SUCViewProvider">
         <Priority name="Lowest"/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Diagram" semanticHints="SUC"/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Node" semanticHints="2002,2001"/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Edge" semanticHints="4001,4003"/>
      </viewProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.diagram.ui.editpartProviders" id="ep-provider">
      <?gmfgen generated="true"?>
      <editpartProvider class="SUC.diagram.providers.SUCEditPartProvider">
         <Priority name="Lowest"/>
         <object class="org.eclipse.gmf.runtime.notation.Diagram" id="generated-diagram">
            <method name="getType()" value="SUC"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Node" id="generated-nodes">
            <method name="getType()" value="2002,2001"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Edge" id="generated-links">
            <method name="getType()" value="4001,4003"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Node" id="generated-labels">
            <method name="getType()" value="5002,5001"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Node" id="generated-compartments">
            <method name="getType()" value=""/>
         </object>
         <context views="generated-diagram,generated-nodes,generated-links,generated-labels,generated-compartments"/>
      </editpartProvider>
   </extension>

   
   <extension point="org.eclipse.gmf.runtime.emf.ui.modelingAssistantProviders" id="modelassist-provider">
      <?gmfgen generated="true"?>
      <modelingAssistantProvider class="SUC.diagram.providers.assistants.SUCModelingAssistantProviderOfSUCmodelEditPart">
         <Priority name="Lowest"/>
         <object class="SUC.diagram.edit.parts.SUCmodelEditPart" id="SUCmodel_1000"/>
         <context elements="SUCmodel_1000"/>
      </modelingAssistantProvider>
            <modelingAssistantProvider class="SUC.diagram.providers.assistants.SUCModelingAssistantProviderOfUseCaseEditPart">
         <Priority name="Lowest"/>
         <object class="SUC.diagram.edit.parts.UseCaseEditPart" id="UseCase_2002"/>
         <context elements="UseCase_2002"/>
      </modelingAssistantProvider>
            <modelingAssistantProvider class="SUC.diagram.providers.assistants.SUCModelingAssistantProviderOfRoleEditPart">
         <Priority name="Lowest"/>
         <object class="SUC.diagram.edit.parts.RoleEditPart" id="Role_2001"/>
         <context elements="Role_2001"/>
      </modelingAssistantProvider>
      
   </extension>


   <extension point="org.eclipse.gmf.runtime.common.ui.services.iconProviders" id="icon-provider">
      <?gmfgen generated="true"?>
      <IconProvider class="SUC.diagram.providers.SUCIconProvider">
         <Priority name="Low"/>
      </IconProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.common.ui.services.parserProviders" id="parser-provider">
      <?gmfgen generated="true"?>
      <ParserProvider class="SUC.diagram.providers.SUCParserProvider">
         <Priority name="Lowest"/>
      </ParserProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.emf.type.core.elementTypes" id="element-types">
      <?gmfgen generated="true"?>
      <metamodel nsURI="http://www.amcl.tuc.gr/aseme/metamodels/SUC">
         <metamodelType
               id="SUCdesign.diagram.SUCmodel_1000"
               name="%metatype.name.SUCmodel_1000"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="SUCmodel"
               edithelper="SUC.diagram.edit.helpers.SUCmodelEditHelper">
            <param name="semanticHint" value="1000"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://www.amcl.tuc.gr/aseme/metamodels/SUC">
         <metamodelType
               id="SUCdesign.diagram.UseCase_2002"
               name="%metatype.name.UseCase_2002"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="UseCase"
               edithelper="SUC.diagram.edit.helpers.UseCaseEditHelper">
            <param name="semanticHint" value="2002"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://www.amcl.tuc.gr/aseme/metamodels/SUC">
         <metamodelType
               id="SUCdesign.diagram.Role_2001"
               name="%metatype.name.Role_2001"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Role"
               edithelper="SUC.diagram.edit.helpers.RoleEditHelper">
            <param name="semanticHint" value="2001"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://www.amcl.tuc.gr/aseme/metamodels/SUC">
         <specializationType
               id="SUCdesign.diagram.RoleParticipates_in_4001"
               name="%metatype.name.RoleParticipates_in_4001"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType">
            <specializes id="org.eclipse.gmf.runtime.emf.type.core.null"/>
            <param name="semanticHint" value="4001"/>
         </specializationType>
      </metamodel>
      <metamodel nsURI="http://www.amcl.tuc.gr/aseme/metamodels/SUC">
         <specializationType
               id="SUCdesign.diagram.UseCaseInclude_4003"
               name="%metatype.name.UseCaseInclude_4003"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType">
            <specializes id="org.eclipse.gmf.runtime.emf.type.core.null"/>
            <param name="semanticHint" value="4003"/>
         </specializationType>
      </metamodel>
   </extension>

   <extension point="org.eclipse.gmf.runtime.emf.type.core.elementTypeBindings" id="element-types-bindings">
      <?gmfgen generated="true"?>
      <clientContext id="SUCdesign.diagram.TypeContext">
         <enablement>
            <test
               property="org.eclipse.gmf.runtime.emf.core.editingDomain"
               value="SUCdesign.diagram.EditingDomain"/>
         </enablement>
      </clientContext> 
      <binding context="SUCdesign.diagram.TypeContext">
         <elementType ref="SUCdesign.diagram.SUCmodel_1000"/>
         <elementType ref="SUCdesign.diagram.UseCase_2002"/>
         <elementType ref="SUCdesign.diagram.Role_2001"/>
         <elementType ref="SUCdesign.diagram.RoleParticipates_in_4001"/>
         <elementType ref="SUCdesign.diagram.UseCaseInclude_4003"/>
         <advice ref="org.eclipse.gmf.runtime.diagram.core.advice.notationDepdendents"/>
      </binding>
   </extension>
	   <extension point="org.eclipse.core.expressions.propertyTesters" id="navigator-proptest.isURIEditorInput">
      <?gmfgen generated="true"?>
       <propertyTester
           id="SUCdesign.diagram.URIEditorInputPropertyTester"
           type="org.eclipse.emf.common.ui.URIEditorInput"
           namespace="SUCdesign.diagram"
           properties="isURIEditorInput"
           class="SUC.diagram.part.SUCUriEditorInputTester">
       </propertyTester>
   </extension>

	   <extension point="org.eclipse.ui.navigator.viewer" id="navigator-viewbinding">
      <?gmfgen generated="true"?>
      <viewerContentBinding viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <contentExtension pattern="SUCdesign.diagram.resourceContent"/>
			<contentExtension pattern="SUCdesign.diagram.domainResourceContent"/>
            <contentExtension pattern="SUCdesign.diagram.navigatorLinkHelper"/>
         </includes>
      </viewerContentBinding>
      <viewerActionBinding viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <actionExtension pattern="SUCdesign.diagram.navigatorActionProvider"/>
         </includes>
      </viewerActionBinding>
   </extension>

   <extension point="org.eclipse.ui.navigator.navigatorContent" id="navigator-content">
      <?gmfgen generated="true"?>
      <navigatorContent
            id="SUCdesign.diagram.resourceContent" 
            name="%navigatorContentName" 
            priority="normal" 
            contentProvider="SUC.diagram.navigator.SUCNavigatorContentProvider" 
            labelProvider="SUC.diagram.navigator.SUCNavigatorLabelProvider"
            icon="icons/obj16/SUCDiagramFile.gif"
            activeByDefault="true">
         <triggerPoints>
            <or>
	           <and>
    	          <instanceof value="org.eclipse.core.resources.IFile"/>
        	      <test property="org.eclipse.core.resources.extension" value="suc_diagram"/>
               </and>
               <instanceof value="SUC.diagram.navigator.SUCAbstractNavigatorItem"/>
            </or>
         </triggerPoints>
         <possibleChildren>
            <or>
         	   <instanceof value="SUC.diagram.navigator.SUCAbstractNavigatorItem"/>
            </or>
         </possibleChildren>
         <commonSorter 
               id="SUCdesign.diagram.navigatorSorter" 
               class="SUC.diagram.navigator.SUCNavigatorSorter">
            <parentExpression>
               <or>
	              <and>
    	             <instanceof value="org.eclipse.core.resources.IFile"/>
        	         <test property="org.eclipse.core.resources.extension" value="suc_diagram"/>
                  </and>
                  <instanceof value="SUC.diagram.navigator.SUCAbstractNavigatorItem"/>
               </or>
            </parentExpression>
         </commonSorter>
      </navigatorContent>
      <navigatorContent
            id="SUCdesign.diagram.domainResourceContent" 
            name="%domainNavigatorContentName" 
            priority="normal" 
            contentProvider="SUC.diagram.navigator.SUCDomainNavigatorContentProvider" 
            labelProvider="SUC.diagram.navigator.SUCDomainNavigatorLabelProvider"
            icon="icons/obj16/SUCDiagramFile.gif"
            activeByDefault="true">
         <triggerPoints>
            <or>
	           <and>
    	          <instanceof value="org.eclipse.core.resources.IFile"/>
        	      <test property="org.eclipse.core.resources.extension" value="suc"/>
               </and>
               <instanceof value="SUC.diagram.navigator.SUCDomainNavigatorItem"/>
            </or>
         </triggerPoints>
         <possibleChildren>
            <instanceof value="SUC.diagram.navigator.SUCDomainNavigatorItem"/>
         </possibleChildren>
      </navigatorContent>
      <actionProvider
            id="SUCdesign.diagram.navigatorActionProvider"
            class="SUC.diagram.navigator.SUCNavigatorActionProvider">
         <enablement>
            <or>
               <instanceof value="SUC.diagram.navigator.SUCAbstractNavigatorItem"/>
            </or>
         </enablement>
      </actionProvider>
   </extension>
   
	   <extension point="org.eclipse.ui.navigator.linkHelper" id="navigator-linkhelper">
      <?gmfgen generated="true"?>
      <linkHelper
            id="SUCdesign.diagram.navigatorLinkHelper"
            class="SUC.diagram.navigator.SUCNavigatorLinkHelper">
         <editorInputEnablement>
            <and>
               <instanceof value="org.eclipse.emf.common.ui.URIEditorInput"/>
               <test property="SUCdesign.diagram.isURIEditorInput"/>
            </and>
         </editorInputEnablement>
         <selectionEnablement>
            <instanceof value="SUC.diagram.navigator.SUCAbstractNavigatorItem"/>
         </selectionEnablement>
      </linkHelper>
   </extension>
   <extension point="org.eclipse.ui.commands" id="update-cmd">
      <?gmfgen generated="true"?>
      <command
         categoryId="org.eclipse.ui.category.edit"
         defaultHandler="SUC.diagram.part.SUCDiagramUpdateCommand"
         description="%update.diagram.description"
         id="SUC.diagram.updateDiagram"
         name="%update.diagram.name"/>
   </extension>
   
   <extension point="org.eclipse.ui.bindings" id="update-cmd-binding">
      <?gmfgen generated="true"?>
      <key 
         commandId="SUC.diagram.updateDiagram"
         contextId="SUC.diagram.ui.diagramContext"
         schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
         sequence="F5"/>
   </extension>

   <extension point="org.eclipse.ui.menus" id="context-menus">
      <?gmfgen generated="true"?>
      <!-- menuContribution locationURI="menu:org.eclipse.ui.main.menu?after=">
      </menuContribution>
      <menuContribution locationURI="toolbar:org.eclipse.ui.main.toolbar?after=">
      </menuContribution -->
      <menuContribution locationURI="popup:org.eclipse.gmf.runtime.diagram.ui.DiagramEditorContextMenu">
         <command commandId="SUCdesign.diagram.LoadResourceAction">
            <visibleWhen>
               <and>
                  <with variable="activePartId"><equals value="SUC.diagram.part.SUCDiagramEditorID"/></with>
                  <with variable="selection"><iterate ifEmpty="false"> 
                     <instanceof value="SUC.diagram.edit.parts.SUCmodelEditPart"/>
                  </iterate></with>
               </and>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>

   <extension point="org.eclipse.ui.commands" id="menu-commands">
      <?gmfgen generated="true"?>
      <category id="SUC.diagram.part.SUCDiagramEditorID" name="%cmdcategory.name" description="%cmdcategory.desc"/>
      <command id="SUCdesign.diagram.LoadResourceAction"
         name="Load Resource"
         categoryId="SUC.diagram.part.SUCDiagramEditorID"
         defaultHandler="SUC.diagram.part.LoadResourceAction"/>
   </extension>

   <extension point="org.eclipse.ui.handlers" id="menu-handlers">
      <?gmfgen generated="true"?>
   </extension>

   <!-- optionally, specify keybindings -->
</plugin>
