<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated SAG -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="SAG.presentation.SAGModelWizardID"
            name="%_UI_SAGModelWizard_label"
            class="SAG.presentation.SAGModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/SAGModelFile.gif">
         <description>%_UI_SAGModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated SAG -->
      <editor
            id="SAG.presentation.SAGEditorID"
            name="%_UI_SAGEditor_label"
            icon="icons/full/obj16/SAGModelFile.gif"
            extensions="sag"
            class="SAG.presentation.SAGEditor"
            contributorClass="SAG.presentation.SAGActionBarContributor">
      </editor>
   </extension>

</plugin>
