<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated SAG -->
      <package
            uri="http://www.amcl.tuc.gr/aseme/metamodels/SAG"
            class="SAG.SAGPackage"
            genModel="model/SAG.genmodel"/>
   </extension>

</plugin>
