<?xml version="1.0" encoding="UTF-8"?>
<statechart:Model xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:statechart="http://statechart/1.0" xsi:schemaLocation="http://statechart/1.0 java://statechart.StatechartPackage" name="testAnd">
  <nodes name="goalkeeper" label="0" type="OR">
    <Children name="0.1" label="0.1" type="START"/>
    <Children name="Init" label="0.2" type="BASIC">
      <Children name="0.2.1" label="0.2.1" type="BASIC" activity="FollowBall"/>
    </Children>
    <Children name="decision" label="0.3" type="OR"/>
    <Children name="0.4" label="0.4" type="END"/>
  </nodes>
  <transitions name="0.1TOInit" source="//@nodes.0/@Children.0" target="//@nodes.0/@Children.1"/>
  <transitions name="InitTOdecision" source="//@nodes.0/@Children.1" target="//@nodes.0/@Children.1/@Children.0"/>
  <transitions name="decisionTO0.4" source="//@nodes.0/@Children.2" target="//@nodes.0/@Children.3"/>
  <transitions TE="OtherSameTeamPlayerApproachesBall == false" name="0.2.1TOdecision" source="//@nodes.0/@Children.1/@Children.0" target="//@nodes.0/@Children.2"/>
</statechart:Model>
