<?xml version="1.0" encoding="UTF8"?>
<statechart:Model xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:statechart="http://statechart/1.0" xsi:schemaLocation="http://statechart/1.0 java://statechart.StatechartPackage" name="testAnd">
  <nodes name="goalkeeper" label="0" type="OR">
    <Children name="0.1" label="0.1" type="START"/>
    <Children name="Init" label="0.2" type="OR">
      <Children name="0.2.1" label="0.2.1" type="START"/>
      <Children name="0.2.2" label="0.2.2" type="CONDITION"/>
      <Children name="0.2.3" label="0.2.3" type="BASIC"/>
      <Children name="0.2.4" label="0.2.4" type="END"/>
    </Children>
    <Children name="decision" label="0.3" type="OR">
      <Children name="0.3.1" label="0.3.1" type="START"/>
      <Children name="play_forever__parallel_nonPlaying_forever_" label="0.3.2" type="AND">
        <Children name="0.3.2.1" label="0.3.2.1" type="OR">
          <Children name="0.3.2.1.1" label="0.3.2.1.1" type="START"/>
          <Children name="play_forever_" label="0.3.2.1.2" type="OR">
            <Children name="0.3.2.1.2.1" label="0.3.2.1.2.1" type="START"/>
            <Children name="play" label="0.3.2.1.2.2" type="OR">
              <Children name="0.3.2.1.2.2.1" label="0.3.2.1.2.2.1" type="START"/>
              <Children name="0.3.2.1.2.2.2" label="0.3.2.1.2.2.2" type="CONDITION"/>
              <Children name="ApproachBall" label="0.3.2.1.2.2.3" type="BASIC"/>
              <Children name="Kick" label="0.3.2.1.2.2.4" type="BASIC"/>
              <Children name="0.3.2.1.2.2.5" label="0.3.2.1.2.2.5" type="END"/>
            </Children>
          </Children>
          <Children name="0.3.2.1.3" label="0.3.2.1.3" type="END"/>
        </Children>
        <Children name="0.3.2.2" label="0.3.2.2" type="OR">
          <Children name="0.3.2.2.1" label="0.3.2.2.1" type="START"/>
          <Children name="nonPlaying_forever_" label="0.3.2.2.2" type="OR">
            <Children name="0.3.2.2.2.1" label="0.3.2.2.2.1" type="START"/>
            <Children name="nonPlaying" label="0.3.2.2.2.2" type="OR">
              <Children name="0.3.2.2.2.2.1" label="0.3.2.2.2.2.1" type="START"/>
              <Children name="NoPlay" label="0.3.2.2.2.2.2" type="BASIC"/>
              <Children name="_open_option_GoToPosition_one_or_more_times__close_option_" label="0.3.2.2.2.2.3" type="OR">
                <Children name="0.3.2.2.2.2.3.1" label="0.3.2.2.2.2.3.1" type="START"/>
                <Children name="0.3.2.2.2.2.3.2" label="0.3.2.2.2.2.3.2" type="CONDITION"/>
                <Children name="GoToPosition_one_or_more_times_" label="0.3.2.2.2.2.3.3" type="OR">
                  <Children name="0.3.2.2.2.2.3.3.1" label="0.3.2.2.2.2.3.3.1" type="START"/>
                  <Children name="GoToPosition" label="0.3.2.2.2.2.3.3.2" type="BASIC"/>
                  <Children name="0.3.2.2.2.2.3.3.3" label="0.3.2.2.2.2.3.3.3" type="END"/>
                </Children>
                <Children name="0.3.2.2.2.2.3.4" label="0.3.2.2.2.2.3.4" type="END"/>
              </Children>
              <Children name="0.3.2.2.2.2.4" label="0.3.2.2.2.2.4" type="END"/>
            </Children>
          </Children>
          <Children name="0.3.2.2.3" label="0.3.2.2.3" type="END"/>
        </Children>
      </Children>
      <Children name="0.3.3" label="0.3.3" type="END"/>
    </Children>
    <Children name="0.4" label="0.4" type="END"/>
  </nodes>
  <transitions name="0.1TOInit" source="//@nodes.0/@Children.0" target="//@nodes.0/@Children.1"/>
  <transitions name="InitTOdecision" source="//@nodes.0/@Children.1" target="//@nodes.0/@Children.2"/>
  <transitions name="decisionTO0.4" source="//@nodes.0/@Children.2" target="//@nodes.0/@Children.3"/>
  <transitions name="0.3.1TOplay_forever__parallel_nonPlaying_forever_" source="//@nodes.0/@Children.2/@Children.0" target="//@nodes.0/@Children.2/@Children.1"/>
  <transitions name="play_forever__parallel_nonPlaying_forever_TO0.3.3" source="//@nodes.0/@Children.2/@Children.1" target="//@nodes.0/@Children.2/@Children.2"/>
  <transitions name="0.3.2.1.1TOplay_forever_" source="//@nodes.0/@Children.2/@Children.1/@Children.0/@Children.0" target="//@nodes.0/@Children.2/@Children.1/@Children.0/@Children.1"/>
  <transitions name="play_forever_TO0.3.2.1.3" source="//@nodes.0/@Children.2/@Children.1/@Children.0/@Children.1" target="//@nodes.0/@Children.2/@Children.1/@Children.0/@Children.2"/>
  <transitions name="0.3.2.2.1TOnonPlaying_forever_" source="//@nodes.0/@Children.2/@Children.1/@Children.1/@Children.0" target="//@nodes.0/@Children.2/@Children.1/@Children.1/@Children.1"/>
  <transitions name="nonPlaying_forever_TO0.3.2.2.3" source="//@nodes.0/@Children.2/@Children.1/@Children.1/@Children.1" target="//@nodes.0/@Children.2/@Children.1/@Children.1/@Children.2"/>
  <transitions name="0.3.2.1.2.2.1TO0.3.2.1.2.2.2" source="//@nodes.0/@Children.2/@Children.1/@Children.0/@Children.1/@Children.1/@Children.0" target="//@nodes.0/@Children.2/@Children.1/@Children.0/@Children.1/@Children.1/@Children.1"/>
  <transitions name="0.3.2.1.2.2.2TOApproachBall" source="//@nodes.0/@Children.2/@Children.1/@Children.0/@Children.1/@Children.1/@Children.1" target="//@nodes.0/@Children.2/@Children.1/@Children.0/@Children.1/@Children.1/@Children.2"/>
  <transitions name="0.3.2.1.2.2.2TOKick" source="//@nodes.0/@Children.2/@Children.1/@Children.0/@Children.1/@Children.1/@Children.1" target="//@nodes.0/@Children.2/@Children.1/@Children.0/@Children.1/@Children.1/@Children.3"/>
  <transitions name="KickTO0.3.2.1.2.2.5" source="//@nodes.0/@Children.2/@Children.1/@Children.0/@Children.1/@Children.1/@Children.3" target="//@nodes.0/@Children.2/@Children.1/@Children.0/@Children.1/@Children.1/@Children.4"/>
  <transitions name="ApproachBallTO0.3.2.1.2.2.5" source="//@nodes.0/@Children.2/@Children.1/@Children.0/@Children.1/@Children.1/@Children.2" target="//@nodes.0/@Children.2/@Children.1/@Children.0/@Children.1/@Children.1/@Children.4"/>
  <transitions name="0.3.2.1.2.1TOplay" source="//@nodes.0/@Children.2/@Children.1/@Children.0/@Children.1/@Children.0" target="//@nodes.0/@Children.2/@Children.1/@Children.0/@Children.1/@Children.1"/>
  <transitions name="playTOplay" source="//@nodes.0/@Children.2/@Children.1/@Children.0/@Children.1/@Children.1" target="//@nodes.0/@Children.2/@Children.1/@Children.0/@Children.1/@Children.1"/>
  <transitions name="0.3.2.2.2.2.1TONoPlay" source="//@nodes.0/@Children.2/@Children.1/@Children.1/@Children.1/@Children.1/@Children.0" target="//@nodes.0/@Children.2/@Children.1/@Children.1/@Children.1/@Children.1/@Children.1"/>
  <transitions name="NoPlayTO_open_option_GoToPosition_one_or_more_times__close_option_" source="//@nodes.0/@Children.2/@Children.1/@Children.1/@Children.1/@Children.1/@Children.1" target="//@nodes.0/@Children.2/@Children.1/@Children.1/@Children.1/@Children.1/@Children.2"/>
  <transitions name="_open_option_GoToPosition_one_or_more_times__close_option_TO0.3.2.2.2.2.4" source="//@nodes.0/@Children.2/@Children.1/@Children.1/@Children.1/@Children.1/@Children.2" target="//@nodes.0/@Children.2/@Children.1/@Children.1/@Children.1/@Children.1/@Children.3"/>
  <transitions name="0.3.2.2.2.2.3.3.1TOGoToPosition" source="//@nodes.0/@Children.2/@Children.1/@Children.1/@Children.1/@Children.1/@Children.2/@Children.2/@Children.0" target="//@nodes.0/@Children.2/@Children.1/@Children.1/@Children.1/@Children.1/@Children.2/@Children.2/@Children.1"/>
  <transitions name="GoToPositionTOGoToPosition" source="//@nodes.0/@Children.2/@Children.1/@Children.1/@Children.1/@Children.1/@Children.2/@Children.2/@Children.1" target="//@nodes.0/@Children.2/@Children.1/@Children.1/@Children.1/@Children.1/@Children.2/@Children.2/@Children.1"/>
  <transitions name="GoToPositionTO0.3.2.2.2.2.3.3.3" source="//@nodes.0/@Children.2/@Children.1/@Children.1/@Children.1/@Children.1/@Children.2/@Children.2/@Children.1" target="//@nodes.0/@Children.2/@Children.1/@Children.1/@Children.1/@Children.1/@Children.2/@Children.2/@Children.2"/>
  <transitions name="0.3.2.2.2.2.3.1TO0.3.2.2.2.2.3.2" source="//@nodes.0/@Children.2/@Children.1/@Children.1/@Children.1/@Children.1/@Children.2/@Children.0" target="//@nodes.0/@Children.2/@Children.1/@Children.1/@Children.1/@Children.1/@Children.2/@Children.1"/>
  <transitions name="0.3.2.2.2.2.3.2TOGoToPosition_one_or_more_times_" source="//@nodes.0/@Children.2/@Children.1/@Children.1/@Children.1/@Children.1/@Children.2/@Children.1" target="//@nodes.0/@Children.2/@Children.1/@Children.1/@Children.1/@Children.1/@Children.2/@Children.2"/>
  <transitions name="0.3.2.2.2.2.3.2TO0.3.2.2.2.2.3.4" source="//@nodes.0/@Children.2/@Children.1/@Children.1/@Children.1/@Children.1/@Children.2/@Children.1" target="//@nodes.0/@Children.2/@Children.1/@Children.1/@Children.1/@Children.1/@Children.2/@Children.3"/>
  <transitions name="GoToPosition_one_or_more_times_TO0.3.2.2.2.2.3.4" source="//@nodes.0/@Children.2/@Children.1/@Children.1/@Children.1/@Children.1/@Children.2/@Children.2" target="//@nodes.0/@Children.2/@Children.1/@Children.1/@Children.1/@Children.1/@Children.2/@Children.3"/>
  <transitions name="0.3.2.2.2.1TOnonPlaying" source="//@nodes.0/@Children.2/@Children.1/@Children.1/@Children.1/@Children.0" target="//@nodes.0/@Children.2/@Children.1/@Children.1/@Children.1/@Children.1"/>
  <transitions name="nonPlayingTOnonPlaying" source="//@nodes.0/@Children.2/@Children.1/@Children.1/@Children.1/@Children.1" target="//@nodes.0/@Children.2/@Children.1/@Children.1/@Children.1/@Children.1"/>
  <transitions TE="BallFound == false" name="0.2.1TO0.2.2" source="//@nodes.0/@Children.1/@Children.0" target="//@nodes.0/@Children.1/@Children.1"/>
  <transitions TE="OtherSameTeamPlayerApproachesBall == false" name="0.2.2TO0.2.3" source="//@nodes.0/@Children.1/@Children.1" target="//@nodes.0/@Children.1/@Children.2"/>
  <transitions TE="BallFound == true" name="0.2.3TO0.2.3" source="//@nodes.0/@Children.1/@Children.2" target="//@nodes.0/@Children.1/@Children.2"/>
  <transitions TE="OtherSameTeamPlayerApproachesBall == true" name="0.2.2TO0.2.4" source="//@nodes.0/@Children.1/@Children.1" target="//@nodes.0/@Children.1/@Children.3"/>
  <transitions TE="PlayerPlaying == true" name="0.2.3TO0.2.4" source="//@nodes.0/@Children.1/@Children.2" target="//@nodes.0/@Children.1/@Children.3"/>
</statechart:Model>
