<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated AIP -->
      <package
            uri="http://www.acml.tuc.gr/aseme/metamodels/AIP"
            class="AIP.AIPPackage"
            genModel="model/AIP.genmodel"/>
   </extension>

</plugin>
